/DotNetBuild.PoC/obj
/DotNetBuild.PoC/bin
/DotNetBuild.PoC.Build/obj
/DotNetBuild.PoC.Tests/bin
/DotNetBuild.PoC.Tests/obj
/DotNetBuild.PoC.sln.DotSettings
/DotNetBuild.PoC.sln.DotSettings.user
/DotNetBuild.PoC.ncrunchsolution
/DotNetBuild.PoC.ncrunchsolution.user

/DotNetBuild.PoC.v11.suo
