/DotNetBuild.PoC/obj
/DotNetBuild.PoC/bin
/DotNetBuild.PoC/PoC.PoC.csproj.user

/DotNetBuild.PoC.Build/obj
/DotNetBuild.PoC.Build/bin
/DotNetBuild.PoC.Build/PoC.PoC.Build.csproj.user

/DotNetBuild.PoC.Tests/obj
/DotNetBuild.PoC.Tests/bin
/DotNetBuild.PoC.Tests/PoC.Tests.csproj.user

/DotNetBuild.PoC.ncrunchsolution
/DotNetBuild.PoC.ncrunchsolution.user
/DotNetBuild.PoC.sln.DotSettings
/DotNetBuild.PoC.sln.DotSettings.user
/DotNetBuild.PoC.v11.suo
/DotNetBuild.PoC.v12.suo
